<footer class="footer">
	<div class="container container-footer">
		<h4>Обратная связь</h4>
		<div class="wrapper">
			<p class="phone">
				<span class="phoneSpan">Контактный телефон:</span><br> +38 (066) 522-58-04 <br> +38 (097) 051-24-11 <br> +38 (093) 488-05-09
			</p>
			<div class="socialMedia">
				<a href="https://instagram.com/box_studio_kh?igshid=1k213rwzvsnd3">
					<img src="{{ asset('img/insta.png') }}" alt="" class="insta">
				</a>
				<a href="https://www.facebook.com/profile.php?id=100014775544884">
					<img src="{{ asset('img/fb.png') }}" alt="" class="facebook">
				</a>
				<a href="https://t.me/Oxxxymeronka">
					<img src="{{ asset('img/tg.png') }}" alt="" class="telega">
				</a>
				<a href="https://skype/live:.cid.3436555568891574">
					<img src="{{ asset('img/skype.png') }}" alt="" class="skype">
				</a>
				<a href="#">
					<img src="{{ asset('img/twitter.png') }}" alt="" class="twitter">
				</a>
				<a href="#">
					<img src="{{ asset('img/whatsapp.png') }}" alt="" class="whatsapp">
				</a>
				<a href="#">
					<img src="{{ asset('img/viber.png') }}" alt="" class="viber">
				</a>
				<a href="https://myaccount.google.com/u/1/profile?gar=1">
					<img src="{{ asset('img/email.png') }}" alt="" class="email">
				</a>
				<a href="#">
					<img src="{{ asset('img/google.png') }}" alt="" class="google">
				</a>
			</div>
		</div>
	</div>
</footer>