<header class="header">
	<div class="container sidebar" id="sidebar">
		<div class="toggle-btn" onclick="openMenu()">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul>
			<li class="nav-item item1">
				<div class="menu-wrapper">
					<img src="{{ asset('img/forMenuChtoZnat.png') }}" alt="" class="menu-img1">
					<a href="{{ path('help') }}">Что нужно знать для оформления заказа</a>
				</div>
			</li>
			<li class="nav-item dropdown item2">
				<div class="menu-wrapper">
					<img src="{{ asset('img/forMenuCatalog.png') }}" alt="" class="menu-img2">
					<a href="#" class="nav-link dropdown-toggle" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">Каталог товаров</a>
					<ul class="dropdown-menu" aria-labelledby = "navbarDropdownCategories">
						<li>
							<a href="{{ path('boxes') }}" class="dropdown-item">Готовые боксы</a>
						</li>
						<li><a href="{{ path('madeByYourOwn') }}" class="dropdown-item">Собери сам</a></li>
					</ul>
				</div>
			</li>
			{% if app.request.cookies.get('idUser') %}
				<li class="nav-item item3">
					<div class="menu-wrapper">
						<a href="{{ path('logout') }}">Выйти</a>
					</div>
				</li>
			{% else %}
				<li class="nav-item item3">
					<div class="menu-wrapper">
						<img src="{{ asset('img/forMenuEnter.png') }}" alt="" class="menu-img3">
						<a href="{{ path('enter') }}">Войти/Зарегестрироваться</a>
					</div>
				</li>
			{% endif %}

	</div>
	</ul>
	</div>
	<div class="container header-container">
		<a href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="logo" class="logo"></a>
	</div>
</header>